/* Imported font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DC143C;
    color: #001F3F;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.9rem;
}

.page {
    text-align: center;
    margin: 2px;
}

.hidden {
    display: none;
}

#contentContainer {
    background-color: #FFFFFF;
    width: 90%;
    max-width: 700px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 10px;
}

button {
    background-color: #001F3F;
    color: #F5F5F5;
    width: 100%;
    margin: 2px auto;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #004080  ;
}

.imgContainer {
    max-width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
}

/* Home page styles */
.title {
    font-size: 1.5rem;
}

#homePage h2, h3 {
    margin-top: 10px;
}

#homePage img {
    max-width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
}

#instructionsContent {
    display: flex;
    flex-direction: column;
}

#instructions p{
    text-align: left;
    margin: 10px 5px;
    font-size: 1rem;
}

/* Quiz page styles */
#gamePage p {
    margin: 10px 0px;
}

#monumentName {
    border-radius: 10px 10px 0 0;
    background-color: #001F3F;
    color: #F5F5F5;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
}

#gamePage img {
    max-height: 500px;
    margin-bottom: 10px;
}

#questionNumber {
    padding: 10px;
}

/* Results page styles */

#resultsPage p {
    margin: 5px;
    font-size: 1rem;
}