/* Imported font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DC143C;
    color: #001F3F;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.9rem;
}

.page {
    text-align: center;
    margin: 2px;
}

.hidden {
    display: none;
}

#contentContainer {
    background-color: #FFFFFF;
    width: 90%;
    max-width: 700px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 10px;
}

.button {
    background-color: #001F3F;
    color: #F5F5F5;
    margin: 2px auto;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #004080  ;
}

.disabledButton {
    pointer-events: none;
    cursor: default;
}

.imgContainer {
    max-width: 80%;
    height: auto;
    border-radius: 0 0 10px 10px;
}

/* Home page styles */
.title {
    font-size: 1.5rem;
}

#homePage h2, #homepage h3 {
    margin-top: 10px;
}

.homeButton {
    width: 50%;
}


#instructionsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions p{
    text-align: left;
    margin: 10px 5px;
    font-size: 1rem;
}

/* Quiz page styles */

#gamePage p {
    margin: 10px 0px;
}

#monumentName {
    border-radius: 10px 10px 0 0;
    background-color: #001F3F;
    color: #F5F5F5;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
}

#gamePage img {
    max-height: 500px;
    margin-bottom: 10px;
}

.gameButton {
    width: 100%;
}

.gameButton:hover {
    background-color: #004080  ;
}

#questionNumber {
    padding: 10px;
}

/* Results page styles */

#resultsPage p {
    margin: 5px;
    font-size: 1rem;
}

.resultButton {
    width: 75%;
}

/* Media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {
    #contentContainer {
        width: 80%; 
    }

    .button {
        font-size: 1.2rem;
    }

    /* Home page styles */
    #instructionsContent {
        display: flex;
    }

    #instructions p {
        margin: 10px 30px 20px;
    }
}

/* Media query for screens with a minimum width of 768px */
@media (min-width: 768px) {
    #contentContainer {
        width: 70%;
    }

    .title {
        font-size: 2rem;
    }

    /* Quiz page styles */
    #monumentName {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    #quizImg img {
        max-height: 600px;
    }

    #gamePage p {
        font-size: 1.1rem;
    }

    #questionNumber {
        font-size: 1.1rem;
    }

    /* Results page styles */

    #resultsPage p {
    margin: 20px 5px;
    font-size: 1.5rem;
    }

}

/* Media query for screens with a minimum width of 1000px */
@media (min-width: 1000px) {

    .imgContainer{
        max-width: 100%;
    }
}
